@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal
}

header {
	padding: 5px;
	margin-bottom: 20px;
	height: 40px;
	background-color: rgb(23, 23, 23);
	color: #fff;
	box-shadow: 0px 2px 2px #ccc
}

#conteudo {
	padding: 0px 8px
}

footer {
	border-top: 1px solid #ccc;
	padding: 5px 8px;
	margin-top: 20px;
	margin-bottom: 10px
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px
}

[id$="botaoPesquisar"] {
    margin-left: 10px !important;
}

[id$="botaoExcluir"] {
    margin-left: 5px !important;
}

/* Estilização do separador customizado */
.separador-custom {
    margin: 0 5px !important; /* Espaçamento lateral */
    display: inline-block;
    vertical-align: middle;
}

.separador-custom .pi-ellipsis-v {
    color: #888888 !important; /* Cor cinza */
    font-size: 0.8rem !important; /* Reduz o tamanho do ícone (ajuste conforme desejar) */
    opacity: 0.7; /* Deixa um pouco mais suave */
}

/* Remove bordas ou fundos residuais de versões antigas */
.separador-custom.ui-separator {
    background: none !important;
    border: none !important;
    width: auto !important;
}